<!-- ==============================================
    CALL TO ACTION
    =============================================== -->
<section class="gray-bg cta">
  <div class="container">
    <div class="row">
      <div class="col-md-8 cta-message">
        <p><strong>BLACKBOOK</strong>
          is the perfect solution for your team's online portfolio. Don't waste time!</p>
      </div>
      <div class="col-md-4 cta-button">
        <p class="text-center"><a class="btn btn-qubico" href="#link"><i class="fa fa-shopping-cart"></i>Purchase Now</a></p>
      </div>
    </div><!--End row-->
  </div><!--End container -->
</section><!--End Call to Action -->
