<!-- ==============================================
    BENEFITS
    =============================================== -->
<section id="services" class="white-bg padding-top-bottom">
  <div class="container">
    <h1 class="section-title">Key Benefits</h1>
    <p class="section-description">We create awesome Websites and Mobile Apps, the perfect solution for your project.<br/>
      We don't make designs, we make magic!</p>
    <div class="row services">
      <div class="col-sm-3 item text-center scrollimation fade-right d2">
        <div class="icon"><i class="fa fa-flag"></i></div>
        <h3>Branding</h3>
        <p>Phasellus ac mi quam. Suspendisse eu erat venenatis, euismod tellus sollicitudin, egestas lacus.</p>
      </div>
      <div class="col-sm-3 item text-center scrollimation fade-right">
        <div class="icon"><i class="fa fa-pencil"></i></div>
        <h3>Design</h3>
        <p>Phasellus ac mi quam. Suspendisse eu erat venenatis, euismod tellus sollicitudin, egestas lacus.</p>
      </div>
      <div class="col-sm-3 item text-center scrollimation fade-left">
        <div class="icon"><i class="fa fa-code"></i></div>
        <h3>Development</h3>
        <p>Phasellus ac mi quam. Suspendisse eu erat venenatis, euismod tellus sollicitudin, egestas lacus.</p>
      </div>
      <div class="col-sm-3 item text-center scrollimation fade-left d2">
        <div class="icon"><i class="fa fa-rocket"></i></div>
        <h3>Rocket Science</h3>
        <p>Phasellus ac mi quam. Suspendisse eu erat venenatis, euismod tellus sollicitudin, egestas lacus.</p>
      </div>
    </div>
    <h1 class="subsection-title">Our Process</h1>
    <p class="subsection-description">You are a serious company. You deserve a serious sollution.<br/>We'll be there from the beginning to the very end of your project's development.</p>
    <div class="process-box scrollimation">
      <ul class="process-list">
        <li>
          <p class="icon"><i class="fa fa-search fa-fw"></i></p>
          <h4>Research &amp; Analysis</h4>
        </li>
        <li>
          <p class="icon"><i class="fa fa-pencil fa-fw"></i></p>
          <h4>Design</h4>
        </li>
        <li>
          <p class="icon"><i class="fa fa-code fa-fw"></i></p>
          <h4>Development</h4>
        </li>
        <li>
          <p class="icon"><i class="fa fa-cogs fa-fw"></i></p>
          <h4>Testing</h4>
        </li>
        <li class="colored">
          <p class="icon"><i class="fa fa-globe fa-fw"></i></p>
          <h4>Publish</h4>
        </li>
      </ul>
      <div class="process-line"></div>
    </div>
    <p class="text-center"><a class="btn btn-qubico scrollto" href="#pricing">Check Our Prices</a></p>
  </div>
</section>
