<!-- ==============================================
    FEATURES
    =============================================== -->
<section id="features" class="white-bg padding-top-bottom">
  <div class="container features">
    <h1 class="section-title">Main Features</h1>
    <p class="section-description">These are some of Qubico's Great Features. Explore the possibilities...</p>
    <div class="row">
      <div class="col-sm-4 scrollimation fade-up">
        <div class="media">
          <div class="icon pull-left">
            <i class="media-object icon-1 fa fa-html5"></i>
            <i class="media-object icon-2 fa fa-css3"></i>
          </div>
          <div class="media-body">
            <h4>HTML5 &amp; CSS3</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 scrollimation fade-up d1">
        <div class="media">
          <div class="icon pull-left">
            <i class="media-object icon-1 fa fa-mobile"></i>
            <i class="media-object icon-2 fa fa-desktop"></i>
          </div>
          <div class="media-body">
            <h4>Responsive Design</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 scrollimation fade-up d2">
        <div class="media">
          <div class="icon pull-left">
            <i class="media-object icon-1 fa fa-leaf"></i>
            <i class="media-object icon-2 fa fa-pencil"></i>
          </div>
          <div class="media-body">
            <h4>Unique &amp; Modern</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 scrollimation fade-up">
        <div class="media">
          <div class="icon pull-left">
            <i class="media-object icon-1 fa fa-heart-o"></i>
            <i class="media-object icon-2 fa fa-heart"></i>
          </div>
          <div class="media-body">
            <h4>Lovely Colors</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 scrollimation fade-up d1">
        <div class="media">
          <div class="icon pull-left">
            <i class="media-object icon-1 fa fa-cog"></i>
            <i class="media-object icon-2 fa fa-cogs"></i>
          </div>
          <div class="media-body">
            <h4>Great Options</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 scrollimation fade-up d2">
        <div class="media">
          <div class="icon pull-left">
            <i class="media-object icon-1 fa fa-star-o"></i>
            <i class="media-object icon-2 fa fa-star"></i>
          </div>
          <div class="media-body">
            <h4>5-star Support</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
