<!-- ==============================================
    PRICING
    =============================================== -->
<section id="pricing" class="gray-bg padding-top-bottom">
  <div class="container">
    <h1 class="section-title">Our Prices</h1>
    <p class="section-description">We offer great plans. Find the one that suits your needs.</p>
    <div class="row pricing">
      <div class="col-lg-12">
        <div class="col-sm-2 text-center">
          <div class="item scrollimation fade-right">
            <p class="icon"><i class="fa fa-tablet fa-fw"></i></p>
            <h2>Basic</h2>
            <p class="price">$9</p>
            <p>Single License</p>
            <p>One Website</p>
            <p>Basic Support</p>
            <a class="btn btn-qubico" href="#link">Order Now</a>
          </div><!-- End Pricing Item -->
        </div>
        <div class="col-sm-4 text-center">
          <div class="item featured scrollimation fade-up">
            <p class="icon"><i class="fa fa-laptop fa-fw"></i></p>
            <h2>Pro</h2>
            <p class="price">$19</p>
            <p>Multiple Licenses</p>
            <p>Unlimited Websites</p>
            <p>Great Support</p>
            <a class="btn btn-qubico" href="#link">Order Now</a>
          </div><!-- End Pricing Item -->
        </div>
        <div class="col-sm-2 text-center">
          <div class="item scrollimation fade-left">
            <p class="icon"><i class="fa fa-desktop fa-fw"></i></p>
            <h2>Premium</h2>
            <p class="price">$299</p>
            <p>Extended License</p>
            <p>Unlimited Websites</p>
            <p>Premium Support</p>
            <a class="btn btn-qubico" href="#link">Order Now</a>
          </div><!-- End Pricing Item -->
        </div>
        <div class="col-sm-2 text-center">
          <div class="item scrollimation fade-left">
            <p class="icon"><i class="fa fa-desktop fa-fw"></i></p>
            <h2>Premium</h2>
            <p class="price">$299</p>
            <p>Extended License</p>
            <p>Unlimited Websites</p>
            <p>Premium Support</p>
            <a class="btn btn-qubico" href="#link">Order Now</a>
          </div><!-- End Pricing Item -->
        </div>
        <div class="col-sm-2 text-center">
          <div class="item scrollimation fade-left">
            <p class="icon"><i class="fa fa-desktop fa-fw"></i></p>
            <h2>Premium</h2>
            <p class="price">$299</p>
            <p>Extended License</p>
            <p>Unlimited Websites</p>
            <p>Premium Support</p>
            <a class="btn btn-qubico" href="#link">Order Now</a>
          </div><!-- End Pricing Item -->
        </div>
      </div>
    </div><!-- End row -->
  </div><!-- End container -->
</section>
