<!-- ==============================================
    TEAM
    =============================================== -->
<section id="team" class="white-bg padding-top-bottom">
  <div class="container">
    <h1 class="section-title">Meet the Team</h1>
    <p class="section-description">We are a small team with great skills. See the faces behind the lines of code.
    </p>
    <div class="row team-member">
      <div class="col-sm-3 col-sm-offset-1 member-thumb scrollimation fade-right">
        <img class="img-responsive img-center" src="/assets/resources/placeholder-360x440.jpg" alt="" />
        <h4>John Doe</h4>
        <p class="title">Lead Designer &amp; Founder</p>
      </div>
      <div class="col-sm-7 scrollimation fade-left">
        <div class="member-details">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <ul class="member-socials">
            <li><a href="mailto:mail@example.com"><i class="fa fa-envelope fa-fw"></i></a></li>
            <li><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
            <li><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
            <li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row team-member right">
      <div class="col-sm-3 col-sm-push-8 member-thumb scrollimation fade-left">
        <img class="img-responsive img-center" src="/assets/resources/placeholder-360x440.jpg" alt=""/>
        <h4>Jane Doe</h4>
        <p class="title">Designer</p>
      </div>
      <div class="col-sm-7 col-sm-pull-2 scrollimation fade-right">
        <div class="member-details">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <ul class="member-socials">
            <li><a href="mailto:mail@example.com"><i class="fa fa-envelope fa-fw"></i></a></li>
            <li><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
            <li><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
            <li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row team-member">
      <div class="col-sm-3 col-sm-offset-1 member-thumb scrollimation fade-right">
        <img class="img-responsive img-center" src="/assets/resources/placeholder-360x440.jpg" alt=""/>
        <h4>Richard Roe</h4>
        <p class="title">Lead Developer</p>
      </div>
      <div class="col-sm-7 scrollimation fade-left">
        <div class="member-details">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <ul class="member-socials">
            <li><a href="mailto:mail@example.com"><i class="fa fa-envelope fa-fw"></i></a></li>
            <li><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
            <li><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
            <li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <h1 class="subsection-title">We Got Skills</h1>
    <p class="subsection-description">We don't just say we can do it.<br/>We prove ourselves by doing it. We are born for this.</p>
    <div class="row skills">
      <div class="col-sm-6 col-md-3 text-center">
        <div class="chart-wrapper">
          <span class="chart" data-percent="95"><span class="percent countTo" data-to="95" data-speed="2000"></span></span>
        </div>
        <h2 class="text-center">HTML5</h2>
      </div>
      <div class="col-sm-6 col-md-3 text-center">
        <div class="chart-wrapper">
          <span class="chart" data-percent="90"><span class="percent countTo" data-to="90" data-speed="2000"></span></span>
        </div>
        <h2 class="text-center">CSS3</h2>
      </div>
      <div class="col-sm-6 col-md-3 text-center">
        <div class="chart-wrapper">
          <span class="chart" data-percent="85"><span class="percent countTo" data-to="85" data-speed="2000"></span></span>
        </div>
        <h2 class="text-center">Javascript</h2>
      </div>
      <div class="col-sm-6 col-md-3 text-center">
        <div class="chart-wrapper">
          <span class="chart" data-percent="90"><span class="percent countTo" data-to="90" data-speed="2000"></span></span>
        </div>
        <h2 class="text-center">PHP</h2>
      </div>
    </div><!--End row -->
  </div>
</section>
